@{
    ViewData["Title"] = "Главная";
}

<div class="card col-md-12">
    <br />
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/img/ITHomester.png" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title text-center">АйтишныйДомосед</h5>
                        <p class="card-text text-center">
                            Привет дорогой зритель данного канала, не важно ты подписчик или попал сюда случайно, я уверен, если ты наткнулся на мой канала, то ты увлекаешься IT тематикой и хочешь работать в этой сфере, а может тебе просто интересно)
                        </p>
                        <p class="card-text text-center"><small class="text-muted">Подписвайтесь на канал, стараюсь улучшать свой контент :)</small></p>
                </div>
            </div>
        </div>
    </div>
    <hr size="3" color="black" />
    <div>
        <nav class="nav nav-pills flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link" asp-controller="Home" asp-action="CreateUser">#1</a>
            <a class="flex-sm-fill text-sm-center nav-link" asp-controller="Home" asp-action="CalculateInView">#2</a>
        </nav>
    </div>
    <br />
</div>
